body {

}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.selected-moment {
}
.selected-moment .selected-moment-row {
  background-color: #efefef;
  margin-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}
.selected-moment .title {
  margin-top: 0.5em;
  color: #142736;
}
.selected-moment .author {
  color: #555555;
}
.selected-moment .date {
  margin-top: 0.5em;
  text-align: right;
  color: #142736;
}
.timeline-previous-icon,
.timeline-next-icon {
  margin: 0 auto;
  width: 1em;
  margin-top: -1.5em;
  text-align: center;
}
.timeline-line {
  margin: 0.75em 0 0.75em 0;
}
.timeline-selected-icon {
  margin: 0 auto;
  width: 1em;
  margin-bottom: -0.9em;
  font-size: 2em;
}
footer {
  margin-top: 0.5em;
  color: white;
  text-align: center;
}
.timeline {
  background: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  overflow: auto;
  white-space: nowrap;
}
.timeline-line {
  width: 100%;
  position: fixed;
}
.moment {
  display: inline-block;
  text-decoration: none;
}
.moment.selected-moment .watch-battle-button {
  visibility: hidden;
}
.timeline .moment:nth-child(even) {
  background-color: #efefef;
}
.timeline .moment p {
  margin-bottom: 0.5em;
}
.timeline .moment button {
  margin-bottom: 0.5em;
}
.panel {
  background-color: #142736;
  height: 100%;
}
.arrow-up {
  margin: -5px auto 0 auto;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 5px solid #eeeeee;
}
.timeline .moment:nth-child(even) .arrow-up {
  border-bottom-color: #dddddd;
}
.timeline .moment.selected-moment .arrow-up {
  border-bottom-color: #142736;
}
.timeline .moment.selected-moment {
  background-color: #223544;
}
.timeline .moment.selected-moment p,
.timeline .moment.selected-moment span {
  color: white;
}
.timeline .moment span.new-moment {
  background-color: #f55555;
  padding: 0em 1.2em;
  position: absolute;
  right: 1.2em;
  top: 0.2em;
  border-radius: 4px;
  color: white;
}
.form-error {
  background-color: #d9534f;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}
.form-error ul {
  margin: 0;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .arrow-up {
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }
  .moment p {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .panel-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .timeline .moment span.new-moment {
    padding: 0em 0.2em;
  }
}
.paypal-button-wrapper {
  position: relative;
  width: 100px;
}
.paypal-button {
  top: -17px;
  width: 100px;
  position: absolute;
}
