body {

}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.selected-moment {
}
.selected-moment .title {
  margin-top: 0.5em;
  color: white;
}
.selected-moment .author {
  color: white;
}
.selected-moment .date {
  color: white;
}
.timeline-previous-icon,
.timeline-next-icon {
  margin: 0 auto;
  width: 1em;
  margin-top: -1.5em;
}
.timeline-line {
  margin: 0.75em 0 0.75em 0;
}
.timeline-selected-icon {
  margin: 0 auto;
  width: 1em;
  margin-bottom: -0.9em;
  font-size: 2em;
}
footer {
  margin-top: 0.5em;
  color: white;
  text-align: center;
}
.gradient-red {
  background: #870e14;
  background: -webkit-linear-gradient(to right, #670003, #870e14);
  background: linear-gradient(to right, #670003, #870e14);
}
.timeline {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
}
.timeline .moment:nth-child(even) {
  background-color: #efefef;
}
.timeline .moment p {
  margin-bottom: 0.5em;
}
.timeline .moment button {
  margin-bottom: 0.5em;
}
.panel {
  background-color: #142736;
  /*background: url("http://cdn.wallpapersafari.com/36/17/H0shLD.jpg");*/
  height: 100%;
}
.arrow-up {
  margin: -5px auto 0 auto;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 5px solid #eeeeee;
}
.timeline .moment:nth-child(even) .arrow-up {
  border-bottom-color: #dddddd;
}
.timeline .moment.selected-moment .arrow-up {
  /*border-bottom-color: #670003;*/
  border-bottom-color: #142736;
}
.timeline .moment.selected-moment {
  /*background-color: #870e14;*/
  background-color: #223544;
}
.timeline .moment.selected-moment p,
.timeline .moment.selected-moment span {
  color: white;
}
